{{define "content"}}
<div class="content">

<br />

<div id="calendars">
</div>

<div id="p-list" class="p-list">
	<h4 class="title">News Archive</h4>
</div>

<script type="text/javascript" src="/date.js"></script>
<script type="text/javascript" src="/posts.js"></script>

</div>
{{end}}