{{define "content"}}
<div class="content">

<br />

<div id="calendars">
</div>

<div id="p-list" class="p-list">
	<h4 class="title">News Articles</h4>
	
<!-- 
	<div class="p-box box rounded">
		<h2>Air Fair</h2>
		<p>May 2, 2015</p>
		<p>sdasdasdsadsads<br />adasdasdasdsd ds adas dad</p>
	</div>
 -->
	
</div>

<script type="text/javascript" src="/date.js"></script>
<script type="text/javascript" src="/posts.js"></script>

</div>
{{end}}