{{define "content"}}
<div class="content">



<br />

<h4 class="title">Exhibits of the Pioneer Flight Museum</h4>

<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Aircraft</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Vehicles</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Projects</a></li>
    </ul>
</div>

<div  id="exhibits">

</div>

<script type="text/javascript" src="/date.js"></script>
<script type="text/javascript" src="/posts.js"></script>

</div>
{{end}}